server:
  port: 8081

spring:
  application:
    name: service-voiture
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${random.value}
        service-name: service-voiture
        register: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
